[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuse-python = "==1.0.7"
plexapi = "==4.15.7"
requests-cache = "==1.1.1"

[dev-packages]

[requires]
python_version = "3.11"
