[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fuse-python = "==1.0.9"
humanize = "==4.12.1"
plexapi = "==4.16.1"
requests-cache = "==1.2.1"
sentry-sdk = "==2.24.0"
websocket-client = "==1.8.0"

[dev-packages]

[requires]
python_version = "3.11"
